@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    background-color: white;
    color: #36ab3f;
    padding: 4px;
    border-radius: 5px;
}

body{
    padding-top: 64px;
}



:root {
    --body-background: white;
    --title: black;
    --primary: blue;
}

[data-theme='light'] {
    --body-background: white;
    --title: black;
    --primary: blue;
}

[data-theme='dark'] {
    --body-background: rgb(52, 52, 52);
    --title: white;
    --primary: rgb(97, 97, 255);
}